## Map API Query

### Dependencies

In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import csv
import os

import psycopg2
from config import (ServerName, UserName, Password, port, DataBase)
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists, drop_database


# Dependencies to consult tables from the API
import json
import pprint
import requests

# Map API Keys
# from config import (api_key)

### Exploring Data

In [10]:
earthquake_data= pd.read_csv('earthquakes.csv')
emission_data= pd.read_csv('emissions.csv')
eruption_data= pd.read_csv('eruptions.csv')

# = pd.read_csv('AllEvents_Data/AllEvents.csv', low_memory=False)
print(earthquake_data.shape)
print(emission_data.shape)
print(eruption_data.shape)


# map_data.shape

# base_url = 'https://api.data.gov/ed/collegescorecard/v1/schools.json?api_key='


# # query_url = base_url + api_key  + "&school.state=NY"
# # query_url = base_url + api_key  + "&school.zip=08873"

# rest_1 = f'&fields=school.open_admissions_policy,school.ownership_peps,school.price_calculator_url,school.city,school.ft_faculty_rate,school.locale,school.accreditor,school.main_campus,school.alias,school.faculty_salary,school.state,school.operating,school.instructional_expenditure_per_fte,school.state_fips,school.zip,school.carnegie_undergrad,school.women_only,school.religious_affiliation,school.tuition_revenue_per_fte,school.under_investigation,school.region_id,school.carnegie_basic,school.branches,school.men_only,school.school_url,school.online_only,school.ownership,school.accreditor_code,school.name,school.degree_urbanization,school.carnegie_size_setting,school.degrees_awarded.predominant,school.degrees_awarded.highest,school.institutional_characteristics.level,school.title_iv.approval_date,school.title_iv.eligibility_type,id,ope8_id,ope6_id,location.lon,location.lat,{year}.cost.tuition.in_state,{year}.cost.tuition.out_of_state,'

# rest_2 = "&per_page=100"



# query_url = base_url + api_key + rest_1 + rest_2 + rest_3
# response = requests.get(query_url).json()
# # Alternative way of printing the json response
# # print(json.dumps(response, indent=4, sort_keys=True))
# print(query_url)
# # pprint.pprint(response)
# print(response)

(75849, 7)
(360, 8)
(2096, 17)

## Schema Creation

### Create Database

In [3]:
engine = create_engine(f'postgres+psycopg2://{UserName}:{Password}@{ServerName}:{port}/{DataBase}')

# If a PostgreSQL database with this name exists
if database_exists(engine.url):
    # Delete PostgreSQL database 
    drop_database(engine.url)
    # Create empty PostgreSQL database
    create_database(engine.url)
# Otherwise
else:
    # Create empty PostgreSQL database
    create_database(engine.url)
    
print(f'The database {engine.url.database} has been created or it already exists')

The database map_db has been created or it already exists

### Function to Create Tables

In [31]:
def create_tables_sql(sql_file):

    fd = open(sqlfile, 'r')
    sqlFile = fd.read()
    fd.close()

    # all SQL commands (split on ';')
    sqlCommands = sqlFile.split(';')    

    try:
        # connect to the PostgreSQL server
        engine = create_engine(f'postgres+psycopg2://{UserName}:{Password}@{ServerName}:{port}/{DataBase}')
        conn = engine.connect()
        # create table one by one
        for command in sqlCommands:
            trans = conn.begin()
            conn.execute(command)
            trans.commit()
        # Close connection
        tables = engine.table_names()
        conn.close()
        print(f'The Tables {tables} were created')
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)

In [32]:
# Input routes to the output files and the source of the SQL code
sqlfile = 'schema.sql'
# Run the function to query the db and create output files
create_tables_sql(sqlfile)

(psycopg2.errors.SyntaxError) syntax error at or near "ï»¿DROP"
LINE 1: ï»¿DROP TABLE IF EXISTS "earthquakes" CASCADE
        ^

[SQL: ï»¿DROP TABLE IF EXISTS "earthquakes" CASCADE]
(Background on this error at: http://sqlalche.me/e/f405)

In [3]:
engine = create_engine(f'postgres+psycopg2://{UserName}:{Password}@{ServerName}:{port}/{DataBase}')

In [4]:
pd.read_sql("select * from code", engine)

     VolcanoNumber                         VolcanoName
0           211040                           Stromboli
1           211060                                Etna
2           221010                      Tair, Jebel at
3           221020                        Zubair Group
4           221041                              Dallol
..             ...                                 ...
330         390140                 Protector Seamounts
331         284193              South Sarigan Seamount
332         385052                Walvis Ridge at 33°S
333         242005                      Havre Seamount
334         284305  Mariana Back-Arc Segment at 15.5°N

[335 rows x 2 columns]